
<section class="relative text-white h-[650px] flex items-center justify-center">
  <!-- Background image with overlay -->
  <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('../images/bg-hero.webp');"></div>
  <div class="absolute inset-0 bg-primary opacity-75"></div>
  
  <div class="container mx-auto px-4 py-24 relative z-10 flex flex-col items-center text-center">
    <h1 class="text-4xl md:text-5xl lg:text-6xl mb-6 tracking-wider">+10 años de experiencia</h1>
    <p class="text-xl md:text-2xl mb-8 max-w-3xl tracking-wide">En derecho civil, derecho penal, derecho inmobiliario, propiedad intelectual, a su vez contamos con asociados 
      para materias de derecho laboral y familia.</p>
    <div class="flex flex-col sm:flex-row gap-4">
      <a href="#contacto" class="bg-accent text-black hover:bg-yellow-200 hover:text-black font-bold py-3 px-6 rounded-md transition-colors">
        Agendar Consulta
      </a>
      <a href="#servicios" class="bg-white hover:bg-gray-100 text-primary font-bold py-3 px-6 rounded-md transition-colors">
        Nuestros Servicios
      </a>
    </div>
  </div>
</section>